body {
    font-family: 'Nunito', sans-serif;
}
.wrapper {
    width: 100%;
    background: linear-gradient(121deg, #7E42F7 0%, #5089FC 100%);
    padding: 50px;
}
.my-fluid {
    display: block;
    width: 100%;
}
.wrapper .container {
    background-color: rgba(0, 0, 0, 0.316);
    padding: 30px;
    border-radius: 40px;
}

/* header */
#logo {
    width: 150px;
}
/* main */
.container-fluid h2 {
    font-size: 1.5em;
}
.main-body h3,
.main-body span {
    font-size: 1.15em;
}
#mate {
    width: 80px;
    height: 80px;
}
.fa-solid.fa-check {
    color: rgb(28, 187, 28);
    cursor: pointer;
}
.fa-solid.fa-trash {
    color: rgb(56, 53, 53);
    cursor: pointer;
}
.done {
    text-decoration: line-through;
}
.low {
    background-color: #198755;
    color: white;
}
.medium {
    background-color: #FFC106;
    color: black;
}
.high {
    background-color: #DC3444;
    color: white;
}